useDynLib(DIRECT, .registration = TRUE)

export(DIRECT,
       DPMCMC,
       resampleClusterProb,
       relabel,
       dMVNorm,
       rMVNorm,
       dDirichlet,
       rDirichlet,
       summaryDIRECT,
       plotClustersMean,
       plotClustersSD,
       plotClustersPCA,
       simuDataREM,
       plotSimulation,
       outputData)

importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "legend", "lines", "matplot",
             "par", "plot", "points", "text")
importFrom("stats", "dgamma", "diffinv", "mahalanobis", "median",
             "princomp", "rbeta", "rgamma", "rnorm", "runif")
importFrom("utils", "read.delim", "write.table")